.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .img {
    height: 620px;
    width: 100%;
  }
}
.form {
  position: absolute;
  width: 100%;
  top: 400px;
  left: 0;
  z-index: 1;
  padding: 20px 0;
  .cu-list.menu {
    background: #fff;
    box-shadow: 1px 2px 15px 0px rgba(206, 206, 206, 0.39);

    .cu-item {
      padding: 0;
      margin: 0 64px;
      border-bottom: 2px solid #efefef;
      .content {
        display: flex;
        align-items: center;
        width: 100%;
        .img {
          width: 23px;
          height: 34px;
          vertical-align: middle;
          margin-right: 26px;
          &.code {
            width: 24px;
            height: 27px;
          }
          &.pwd {
            width: 24px;
            height: 29px;
          }
        }
        .cu-form-group {
          padding: 0;
          .input {
            width: 300px;
            font-size: 26px;
            color: #999;
          }
          .cu-btn {
            margin-left: 10px;
          }
          .pwd-hidden {
            width: 100px;
            height: 100px;
            background: url("../../style/images/login/pwd-hidden.png") center
              center no-repeat;
            background-size: 60px 60px;
            position: absolute;
            right: 0;
            top: 0;
          }
          .pwd-show {
            width: 100px;
            height: 100px;
            background: url("../../style/images/login/pwd-show.png") center
              center no-repeat;
            background-size: 60px 60px;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
  .register-btn {
    margin-top: 90px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    .btn {
      width: 569px;
      height: 83px;
      color: #fff;
      text-align: center;
      line-height: 83px;
      background: linear-gradient(176deg, #ff7b19, #ffa96a);
      box-shadow: 0px 7px 13px 0px rgba(255, 123, 25, 0.44);
      border-radius: 41px;
      border: 0;
    }
  }
  .register-extra {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64rpx;
    color: #9a9a9a;
    font-weight: 400;
    font-size: 30px;
  }
  .policy {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    color: #757575;
    font-size: 28px;
    .cyan {
      color: #ff7b19;
    }
  }
}
