@font-face {
  font-family: 'iconfont';
  src: url('style/fonts/iconfont.eot?2qevqt');
  src: url('style/fonts/iconfont.eot?2qevqt#iefix') format('embedded-opentype'),
          url('style/fonts/iconfont.ttf?2qevqt') format('truetype'),
          url('style/fonts/iconfont.woff?2qevqt') format('woff'),
          url('style/fonts/iconfont.svg?2qevqt#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e679";
}

.icon-alipay:before {
  content: "\e602";
}

.icon-bank:before {
  content: "\e6a9";
}

.icon-next:before {
  content: "\e65b";
}

.icon-jia:before {
  content: "\e643";
}

.icon-weixin:before {
  content: "\e73b";
}

.icon-order:before {
  content: "\e617";
}

.icon-home:before {
  content: "\e65f";
}

.icon-mine:before {
  content: "\e67b";
}
