// 颜色定义规范
$color-theme: #FF7B19;
$color-theme-front: #fff;
$color-theme-w: rgb(255, 255, 255);
$color-sub-theme: rgb(240, 116, 107);
$color-border-m: #999;
$color-text-disable: #999;
$color-text: #2E3030;
$color-text-g: #757575;
$color-text-ggg: #c7c7c7;
$color-text-gg: rgb(219, 219, 219);
$color-text-l: rgb(241, 241, 241);
$color-text-lm: rgb(228, 228, 228);
$color-text-ll: rgba(255, 255, 255, 0.8);
$color-text-b: #dbdbdb;
//字体大小规范
$font-size-title: .32rem;
$font-size-subtitle: 14px;
$font-size-menu-nav: 14px;
$font-size-small-ss: 0.22rem;
$font-size-small-s: .3rem;
$font-size-small: 11px;
$font-size-small-x: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large-s: 17px;
$font-size-large: 18px;
$font-size-large-x: 22px;

$header-height: 0.83rem;

$notice: '../images/notice.png';
$new: '../images/new.png';
$hot: '../images/hot.png';
$package: '../images/package_bg.png';
$package-line: '../images/package_line.png';
$pai-logo: '../images/logo_pai.png';
$tab-color-bg: #fff;
$tab-color-bg-top: #f7f7f7;
$pai-custome: '../images/wechat_contact.png';
$pai-main-logo: '../images/logo.png';
$pai-package-left: '../images/package-left.png';
$pai-btn: '../images/button.png';
$pai-team-left: '../images/team-left.png';
$pai-company-left: '../images/company.png';
$pai-company-order: '../images/company-order.png';
$pai-un-buy: '../images/un_buy.png';
$pai-buy: '../images/buy.png';
$pai-expired: '../images/expired.png';
$pai-win: '../images/win.png';
$pai-pay-ali: '../images/aplipay.png';
$pai-double-1: '../images/tag1.png';
$pai-double-2: '../images/tag2.png';
$pai-double-3: '../images/tag3.png';
$pai-double-bottom: '../images/double-bottom.png';
$pai-double-left: '../images/left.png';
$pai-double-right: '../images/right.png';
